In [20]:
import pandas as pd
import numpy as np

In [21]:
# dib = pd.read_csv('Diabetes+Example+Data.csv')
dib = pd.read_csv('churn_data.csv')

In [22]:
dib.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [23]:
# Converting Yes to 1 and No to 0
dib['Churn'] = dib['Churn'].map({'Yes': 0, 'No': 1})

In [24]:
dib.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,1
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,1
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,0
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,1
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,0

In [25]:
variables_in_x = ['customerID','tenure','PhoneService','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges','TotalCharges']
# Putting feature variable to X
X = dib[variables_in_x]

# Putting response variable to y
y = dib['Churn']

KeyError: 'Blood Sugar Level'

In [ ]:
import statsmodels.api as sm

In [ ]:
logm1 = sm.GLM(y,(sm.add_constant(X)), family = sm.families.Binomial())
logm1.fit().summary()